.App{
  font-size: 1.8rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: #f5f6f4;
}

h1{
  width: 60%;
  margin: 40px 0;
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 700;
}